.cell__icon--small {
    height: .7em;
    width: .7em;
}

.cell__icon--medium {
    height: 1em;
    width: 1em;
}

.cell__icon--large {
    height: 1.4em;
    width: 1.4em;
}

.cell__icon--xlarge {
    height: 2em;
    width: 2em;
}

.cell {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.cell:nth-of-type(even) {
    background: gainsboro;
}

.cell__icon__container {
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
}

.cell__desp {
    font-size: smaller;
}