/* 640px, 748px, 1024px, 1280px, 1536px */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    overscroll-behavior-y: none;
}

button, a {
    cursor: pointer;
}

a {
    color: black;
}

ul {
    list-style-type: none;
}

form {
    /* overflow: hidden; */
    /* text-overflow: ellipsis;  */

    & label {
        display: block;
        color: var(--slate-500);
        margin-bottom: 0.25rem;
    }

    & input, & select {
        display: block;
        width: 100%;
        border: 1px solid var(--slate-400);
        color: var(--slate-600);
        font-size: 1.25em;
        padding: 0.5rem 0.25rem;
        border-radius: 0.25rem;
        background: transparent;

        &:focus {
            outline: none !important;
            border-color: var(--primary-color);
            box-shadow: 0 0 5px var(--primary-color);
        }
/* 
        &::placeholder {
            font-size: medium;
            color: var(--slate-400);
        }

        &:not(:valid) {
            border: 1px solid var(--rose-400);
        } */
    }

    /* input type=date show differently in safari */
    & input::-webkit-datetime-edit {
        line-height: 1;
        padding: 0;
        margin-bottom: -2px;
    }

    /* Select show differently in safari */
    & select {
        -moz-appearance: none;
        -webkit-appearance: none; 
        appearance: none;
    }

    & button[type="submit"], & button:not([type]) {
        display: block;
        width: 100%;
        background-color: var(--primary-color);
        border: 0px;
        padding: 0.75rem 0;
        border-radius: 0.25rem;
        color: white;
        font-size: 1em;
        font-weight: 600;

        &:disabled, &[disabled] {
            opacity: 0.6;
        }
    }

    .input-error {
        color: var(--rose-400);
    }
}

:root {
    --foree-nav-height: 4rem;
    --foree-banner-height: 0rem;

    --foree-page-padding-top: 3rem;
    --foree-page-padding-side: 3rem;
    --foree-page-padding-bottom: 6rem;

    --foree-border: #ebebeb;
    --foree-shadow: drop-shadow(0px 10px 15px #0000001a);
    --foree-border-radius: .4rem;


    --foree-raised-border: var(--foree-border);
    --foree-raised-highlight: #f2f2f2;
    --foree-raised-shadow: #dbdbdb;
    --foree-raised-color: var(--foree-raised-highlight) var(--foree-raised-border) var(--foree-raised-border) var(--foree-raised-highlight);
    --foree-raised-hover-color: var(--foree-raised-border) var(--foree-raised-shadow) var(--foree-raised-shadow) var(--foree-raised-border);
    --foree-raised-active-color: var(--foree-raised-shadow) var(--foree-raised-border) var(--foree-raised-border) var(--foree-raised-shadow);
    --foree-raised-width: 1px 2px 2px 1px;
    --foree-raised-active-width: 2px 1px 1px 2px;

    --foree-fg-1: #141414;
    --foree-fg-2: #262626;
    --foree-fg-3: #666;
    --foree-fg-4: gray;

    --foree-bg-1: #fff;
    --foree-bg-2: #fdfdfd;
    --foree-bg-3: #fafafa;
    --foree-bg-4: #f2f2f2;

    --foree-side-menu-item-height: 3.3rem;

    @media (max-width: 832px) {
        --foree-page-padding-top: 1rem;
        --foree-page-padding-side: 0.5rem;
    }
}