* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    overscroll-behavior-y: none;
}

button, a {
    cursor: pointer;
}

/* TODO: generic form style*/

form {
    /* overflow: hidden; */
    /* text-overflow: ellipsis;  */

    & label {
        display: block;
        color: var(--slate-500);
        margin-bottom: 0.25rem;
    }

    & input, & select {
        display: block;
        width: 100%;
        border: 1px solid var(--slate-400);
        color: var(--slate-600);
        font-size: 1.25em;
        padding: 0.5rem 0.25rem;
        border-radius: 0.25rem;
        background: transparent;

        &:focus {
            outline: none !important;
            border-color: var(--primary-color);
            box-shadow: 0 0 5px var(--primary-color);
        }

        &::placeholder {
            font-size: medium;
            color: var(--slate-400);
        }
    }

    & button[type="submit"], & button:not([type]) {
        display: block;
        width: 100%;
        background-color: var(--primary-color);
        border: 0px;
        padding: 0.75rem 0;
        border-radius: 0.25rem;
        color: white;
        font-size: 1em;
        font-weight: 600;

        &:disabled, &[disabled] {
            opacity: 0.6;
        }
    }

    .input-error {
        color: var(--rose-400);
    }
}